*{
    box-sizing: border-box;
}
.parent {
    height: 400px;
    width: 800px;
    background-color: blueviolet;
    margin: 0 auto;
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    counter-reset: section;

}
/*.parent::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
.child {
    display: inline-block;
    background-color: antiquewhite;
    height: 90%;
    min-width: 100px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    margin: 10px;
    overflow-y: auto;
    counter-reset: section1;
}
.child::before{
    counter-increment: section;
    content: counters(section,".") " ";
}
.child:nth-child(2) {
    background-color: lavender;
}

.child:nth-child(3) {
    background-color: cadetblue;
}

.child:nth-child(4) {
    background-color: darksalmon;
}.child:nth-child(5) {
    background-color: aquamarine;
}.child:nth-child(6) {
    background-color: coral;
}.child:nth-child(7) {
    background-color: dodgerblue;
}.child:nth-child(8) {
    background-color: crimson;
}.child:nth-child(9) {
    background-color: indianred;
}
 .child>div{
     margin: 5px;
     height: 50px;
     width: 90px;
     background-color: lightblue;
 }
 .child>div::before{
     counter-increment: section1;
     content: counter(section)"."counter(section1) " ";
 }